:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.form__button {
  display: flex;
  justify-content: center;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
}
