:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.form-container {
  display: flex;
  flex-direction: column;
}

.mat-login {
  background: linear-gradient(to right, #9c27b0, #e040fb);
  color: #fff;
}
